/* HomeStyle.css */

/* Banner Styles */
.banner-container {
  position: relative;
}

.banner-overlay {
  position: relative;
}

.banner-overlay-bg {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  color: white;
}

.banner-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.banner-subtitle {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.banner-button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #fbbf24;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem; /* Adjust button border radius */
  border: none; /* Remove button border */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s ease;
  text-decoration: none; /* Ensure the button looks like a button */
}

.banner-button:hover {
  background-color: #f59e0b;
}

.banner-button:focus {
  outline: none; /* Remove button outline on focus */
}

/* Restaurants Styles */
.restaurants-container {
  margin-top: 4rem;
  text-align: center;
}

.restaurants-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.restaurants-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.restaurant-card {
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.restaurant-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.restaurant-details {
  padding: 1rem;
}

.restaurant-name {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.restaurant-description {
  font-size: 1rem;
  color: #4b5563;
}
