/* ExploreMenu.css */

.explore-menu {
  text-align: center;
  padding: 20px;
}

.explore-menu h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333; /* Dark text color */
}

.explore-menu-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
  color: #666; /* Medium dark text color */
}

.explore-menu-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.explore-menu-item {
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
}

.explore-menu-item:hover {
  transform: translateY(-5px); /* Lift the item slightly on hover */
}

.explore-menu-item img {
  width: 150px; /* Adjust the width of the image */
  height: 150px; /* Adjust the height of the image */
  border-radius: 8px 8px 0 0; /* Rounded corners for the top */
  object-fit: cover; /* Maintain aspect ratio and cover */
}

.explore-menu-item p {
  font-size: 18px;
  font-weight: bold;
  padding: 12px 0;
  margin: 0;
  background-color: #fff; /* White background for the text */
  color: #333; /* Dark text color */
}

.explore-menu-item.active p {
  background-color: #ff6347; /* Background color for the active item */
  color: #fff; /* White text color for the active item */
}
